root = true

[*]
end_of_line = lf
insert_final_newline = false
trim_trailing_whitespace = true

[*.{js,coffee,py,rb,scala,java,css,scss,html,jade,erb,json,yml,xml}]
charset = utf-8
indent_style = space
indent_size = 2

[*.py]
indent_size = 4
insert_final_newline = false

[*.{scala,java}]
indent_size = 4
insert_final_newline = true
